.Container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #edeaea;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  .DeleteIcon {
      display: none;
      align-self: flex-end;
      font-size: 1rem;
  }
  
  .Container:hover > .DeleteIcon{
  display: flex;
  }
  